body { background: white; }
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: white;
} */
nav {
  display: flex;
  flex-direction: column;
  background-color:black;
  padding: 0.3em;
  margin: 0.3em;
  flex-shrink: 0
}

nav a {
  background-color: white;
  color: blue;
  padding: 0.3em;
  margin: 0.3em;
  transition: background-color 0.7s;
  flex-shrink: 0
}
nav a:hover {
  background-color: green;
}

header {
  overflow: auto;
  background-color: black;
  margin: 0.8em;
  padding: 1em;
  text-align: center;
  color: white;
}
section{
  overflow: auto;
}

main{
  display: flex;
  flex-direction: row-reverse;
}

p{
padding-left: 0.25em;
padding-right: 0.25em;
box-sizing: border-box;
}
